<header class="site-header" role="banner">
  <!-- Logo -->
  <div class="site-header__logo">
    <a href="{{ routes.root_url }}">
      <img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" />
    </a>
  </div>

  <!-- Main Navigation -->
  <nav class="site-header__nav" role="navigation">
    <ul class="site-nav">
      {% for link in linklists.main-menu.links %}
        <li class="site-nav__item">
          <a href="{{ link.url }}" class="site-nav__link">{{ link.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>

  <!-- Additional elements like search, account links, or cart icon can be added here -->
</header>
