{% if section.settings.image != blank %}
  <div class="image-banner" style="background-image: url('{{ section.settings.image | img_url: '2000x' }}');">
    <div class="page-width">
      <div class="image-banner__content rte">
        
        <!-- Split Layout Container -->
        <div class="banner-split-layout">
          <div class="split-left">
            <!-- Left Side Content -->
            <h2>{{ section.settings.heading }}</h2>
            <p>{{ section.settings.text }}</p>
            {% if section.settings.button_label != blank %}
              <a href="{{ section.settings.button_link }}" class="btn">
                {{ section.settings.button_label }}
              </a>
            {% endif %}
          </div>
          <div class="split-right">
            <!-- Right Side Content (Add your content here) -->
            <p>Additional content or promotional info here.</p>
          </div>
        </div>
        <!-- End of Split Layout Container -->

      </div>
    </div>
  </div>
{% endif %}
